.container {
  padding-top: 30px;
  width: 840px;
  margin: auto;
}

.wrapper {
  display: flex;
}

.wrapperImg {
  min-width: 50%;
}

.wrapperDetails {
  margin-left: 20px;
}

.wrapperVoits {
  margin-top: 10px;
  display: flex;
}

.wrapperPopularity {
  margin-top: 10px;
  display: flex;
}

.wrapperTitle {
  margin-top: 10px;
}

.wrapperGenre {
  margin-top: 10px;
}

.about {
  margin-top: 10px;
}

.button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #867ced;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addInfo {
  margin-top: 15px;
  text-decoration: none;
  margin-bottom: 15px;

}

.addInfoCast {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #867ced
}
.addInfoReviews {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #867ced;
}

.addInfoCast:global(.active) {
  color: #3a3587
}

.addInfoReviews:global(.active) {
  color: #3a3587
}